*{
	margin: 0;
	padding: 0;
	outline: 0;
}

ol,ul{
	list-style: none;
}

a{
	text-decoration: none;
}

header{
	background-color: #F3F7FB;
	color: green;
}

.logo img{
	margin: 10px 0;
	height: 80px;
	width: 250px;
}
.menu{
	text-align: right;
	line-height: 90px;
}
.menu a{
	color: green;
}

nav{
	background: #99cc33;
}

.navigation{
	padding-left: 320px;
}

nav ul li{
	float: left;
	padding: 0 20px 20px 20px;
}
nav ul li a{
	color: green;
}

#registration table th,td{
	padding: 10px 20px;
}

#registration table{
	
	width: 100%;
}

#registration input[type=text],input[type=password]{
	padding: 5px;
	width: 100%;
}



#registration input[type=submit] {
    padding: 10px;
    font-size: 18px; 
    background-color: #99cc33;
    color: green;
    border: none;
}


#login input[type=text],input[type=password]{
	padding: 5px;
	width: 100%;
	height: 50px;
}
#login label{
	font-size: 20px;
	padding: 10px 0;
}


#login input[type=submit] {
    padding: 10px;
    font-size: 18px; 
    background-color: #99cc33;
    color: green;
    border: none;
    margin-left: 150px;
}

#login p{
	text-align: center;
}

#login a{
	color: green;
}

#login select{
	padding: 5px;
	width: 100%;
	height: 50px;
}

#user{
	margin-top: 20px;
}

.user a{
	color: green;
}

.user .add a button{
	height: 50px;
	width: 200px;
	background-color: #99cc33;
	color: green;
	border: none;
}

#editprofile .editprofile input[type=text]{
	padding: 5px;
	width: 100%;
}


